################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestProject_C_seleniumframework/FileContentIndex
/.vs/TestProject_C#seleniumframework/FileContentIndex
